<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/rarroyo2014/blue-">Rebeca Arroyo</a>. A graduate student enrolled in the Coding Bootcamp through the University of Central Florida who hopes teach people the technical skills needed for a successful career.
  </p>
  <br />
  <p>
    Throughout her graduate degree, she has learned tremendous amounts of information regarding cybersecurity, telecommunications, and computer networking. The Coding Bootcamp has given her the tools needed to apply web development and software development to apply to all the subject areas listed above. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
